{% load static %}

<div class="row question">
    <div class="col-3">
        <img src="{% static 'img/avatar.png' %}">
        <div class="row question-rating">
            <div class="col-7 count" id="answer-{{ comment.id }}">
                {{ comment.rating }}
            </div>
            <div class="col-5 regs">
                <input class="js-vote" type="image" name="down" src="{% static 'img/arrow-down-short.svg' %}"
                       alt="submit" width="15" height="15"
                       data-action="dislike" data-id="{{ comment.id }}" data-content="answer">
                <input class="js-vote" type="image" name="up" src="{% static 'img/arrow-up-short.svg' %}"
                       alt="submit" width="15" height="15"
                       data-action="like" data-id="{{ comment.id }}" data-content="answer">
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="row">
            <div>
                {{ comment.text }}
            </div>
        </div>
        <div class="row">
            <div class="form-check mycheckbox">
                {% if comment.question.profile.id == request.user.profile.id %}
                    {% if comment.is_correct == True %}
                        <input class="form-check-input js-correct" type="checkbox" id="is_correct-{{ comment.pk }}"
                               data-id="{{ comment.pk }}" checked>
                    {% else %}
                        <input class="form-check-input js-correct" type="checkbox" id="is_correct-{{ comment.pk }}"
                               data-id="{{ comment.pk }}">
                    {% endif %}
                {% else %}
                    {% if comment.is_correct == True %}
                        <input class="form-check-input js-correct" type="checkbox" id="is_correct-{{ comment.pk }}"
                               data-id="{{ comment.pk }}" checked disabled>
                    {% else %}
                        <input class="form-check-input js-correct" type="checkbox" id="is_correct-{{ comment.pk }}"
                               data-id="{{ comment.pk }}" disabled>
                    {% endif %}
                {% endif %}
                <label class="form-check-label" for="is_correct-{{ comment.pk }}">
                    Correct!
                </label>
            </div>
        </div>
    </div>
</div>
