{% extends "include/base.html" %}
{% load static %}

{% block content %}
<!-- QUESTION BLOCK -->
<div class="row onequestion">
    <div class="col-3">
        <img src="{% static 'img/avatar.png' %}">
        <div class="row question-rating">
            <div class="col-7 count">
                {{ question.mark }}
            </div>
            <div class="col-5 regs">
                <input type="image" name="down" src="{% static 'img/arrow-down-short.svg' %}" alt="submit"
                       width="15" height="15">
                <input type="image" name="up" src="{% static 'img/arrow-up-short.svg' %}" alt="submit" width="15"
                       height="15">
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="row">
            <a href="{% url 'one_question' pk=question.id %}">
                <h2>{{ question.title }}</h2>
            </a>
            <div>
                {{ question.text }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <a>answer ({{ question.answer_count }})</a>
            </div>
            <div class="col-1">
                Tags:
            </div>
            <div class="col-8">
                {% for tag in question.tags %}
                    <a href="{% url 'questions_by_tag' name=tag.name %}" class="question-tag">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<hr class="mb-4">

<!-- comments -->
{% for comment in questions %}
    {% include "include/comment.html" %}
{% endfor %}

<!-- Pagination -->
{% include "include/pagination.html" %}

<hr class="mb-4">

<!-- your comment area -->
<form class="needs-validation" novalidate>
    <div class="mb-4">
        <textarea class="form-control" id="textarea" rows="3" placeholder="Enter your answer here." required></textarea>
        <div class="invalid-feedback">
            Please, enter a text.
        </div>
    </div>
    <button class="btn btn-primary btn-lg btn-block" type="submit">
        Answer
    </button>
</form>


{% endblock content %}
